@tailwind base;
@tailwind components;
@tailwind utilities;

/*fbbf24*/

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fbbf24;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
}
